In [43]:
import pandas as pd

In [44]:
sp500df = pd.read_csv("sp500.csv")

sp500df

,Date,Open,High,Low,Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
24300,2024-09-26,5762.220215,5767.370117,5721.009766,5745.370117,4391180000
24301,2024-09-27,5755.359863,5763.779785,5727.339844,5738.169922,3898530000
24302,2024-09-30,5726.520020,5765.140137,5703.529785,5762.479980,4425730000
24303,2024-10-01,5757.729980,5757.729980,5681.279785,5708.750000,4025180000
24304,2024-10-02,5698.140137,5719.629883,5674.000000,5709.700195,1184305000

In [45]:
pd.to_datetime(sp500df["Date"], errors="raise", yearfirst=True)
sp500df

,Date,Open,High,Low,Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
24300,2024-09-26,5762.220215,5767.370117,5721.009766,5745.370117,4391180000
24301,2024-09-27,5755.359863,5763.779785,5727.339844,5738.169922,3898530000
24302,2024-09-30,5726.520020,5765.140137,5703.529785,5762.479980,4425730000
24303,2024-10-01,5757.729980,5757.729980,5681.279785,5708.750000,4025180000
24304,2024-10-02,5698.140137,5719.629883,5674.000000,5709.700195,1184305000

In [46]:
sp500df.duplicated().sum()

0

In [47]:
sp500df.isna().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [48]:
eventsdf = pd.read_csv("Economic_Events.csv")
eventsdf

,Date,Event,Impact on Global Markets,Impact on S&P 500,Remarks,Global Market Impact Score
0,1929-10-29,Wall Street Crash of 1929,High,Negative - Major decline,Marked the beginning of the Great Depression.,10.0
1,1987-10-19,Black Monday,Critical,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0
2,2001-09-11,9/11 Attacks,High,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0
3,2008-09-15,Lehman Brothers Collapse,High,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0
4,2020-03-11,COVID-19 Declared a Pandemic,High,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0
5,1939-09-01,Start of WWII,NaN,Negative - Long term decline,Triggered significant economic disruption glob...,10.0
6,1971-08-15,Nixon Shocks,NaN,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0
7,1997-07-02,Asian Financial Crisis,NaN,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0
8,2000-03-10,Dot-com Bubble Burst,NaN,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0
9,2001-03-10,Enron Scandal,NaN,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0
10,1973-10-19,Oil Crisis,NaN,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0
11,1985-09-22,Plaza Accord,NaN,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0
12,1990-08-02,Gulf War,NaN,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0
13,2002-10-09,Stock Market Downturn 2002,NaN,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0
14,2007-12-01,Subprime Mortgage Crisis,NaN,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0
15,2016-06-23,Brexit,NaN,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0

In [49]:
pd.to_datetime(eventsdf["Date"], errors="raise", yearfirst=True)
eventsdf

,Date,Event,Impact on Global Markets,Impact on S&P 500,Remarks,Global Market Impact Score
0,1929-10-29,Wall Street Crash of 1929,High,Negative - Major decline,Marked the beginning of the Great Depression.,10.0
1,1987-10-19,Black Monday,Critical,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0
2,2001-09-11,9/11 Attacks,High,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0
3,2008-09-15,Lehman Brothers Collapse,High,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0
4,2020-03-11,COVID-19 Declared a Pandemic,High,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0
5,1939-09-01,Start of WWII,NaN,Negative - Long term decline,Triggered significant economic disruption glob...,10.0
6,1971-08-15,Nixon Shocks,NaN,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0
7,1997-07-02,Asian Financial Crisis,NaN,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0
8,2000-03-10,Dot-com Bubble Burst,NaN,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0
9,2001-03-10,Enron Scandal,NaN,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0
10,1973-10-19,Oil Crisis,NaN,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0
11,1985-09-22,Plaza Accord,NaN,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0
12,1990-08-02,Gulf War,NaN,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0
13,2002-10-09,Stock Market Downturn 2002,NaN,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0
14,2007-12-01,Subprime Mortgage Crisis,NaN,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0
15,2016-06-23,Brexit,NaN,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0

In [50]:
eventsdf = eventsdf.drop(columns="Impact on Global Markets")
eventsdf

,Date,Event,Impact on S&P 500,Remarks,Global Market Impact Score
0,1929-10-29,Wall Street Crash of 1929,Negative - Major decline,Marked the beginning of the Great Depression.,10.0
1,1987-10-19,Black Monday,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0
2,2001-09-11,9/11 Attacks,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0
3,2008-09-15,Lehman Brothers Collapse,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0
4,2020-03-11,COVID-19 Declared a Pandemic,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0
5,1939-09-01,Start of WWII,Negative - Long term decline,Triggered significant economic disruption glob...,10.0
6,1971-08-15,Nixon Shocks,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0
7,1997-07-02,Asian Financial Crisis,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0
8,2000-03-10,Dot-com Bubble Burst,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0
9,2001-03-10,Enron Scandal,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0
10,1973-10-19,Oil Crisis,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0
11,1985-09-22,Plaza Accord,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0
12,1990-08-02,Gulf War,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0
13,2002-10-09,Stock Market Downturn 2002,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0
14,2007-12-01,Subprime Mortgage Crisis,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0
15,2016-06-23,Brexit,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0

In [51]:
# We willen de Ukrainse oorlog handmatig toevoegen
ukraine_war_event = {
    'Date': ['2022-02-24'],
    'Event': ['Ukraine War'],
    'Impact on S&P 500': ['Negative - Increased volatility and inflation concerns'],
    'Remarks': ['Has led to significant disruptions in global commodity markets, including energy and grains, influencing global inflation rates and market stability.'],
    'Global Market Impact Score': [7.0]
}

new_row = pd.DataFrame(ukraine_war_event)

eventsdf = pd.concat([eventsdf, new_row], ignore_index=True)
eventsdf = eventsdf.sort_values("Date", ignore_index=True)
eventsdf

,Date,Event,Impact on S&P 500,Remarks,Global Market Impact Score
0,1929-10-29,Wall Street Crash of 1929,Negative - Major decline,Marked the beginning of the Great Depression.,10.0
1,1939-09-01,Start of WWII,Negative - Long term decline,Triggered significant economic disruption glob...,10.0
2,1971-08-15,Nixon Shocks,Negative - Uncertainty led to market volatility,"Decoupling of US dollar from gold, led to curr...",8.0
3,1973-10-19,Oil Crisis,Negative - Led to a stock market crash,Severe global economic downturn caused by oil ...,9.0
4,1985-09-22,Plaza Accord,Negative - Dollar depreciation,Agreement to depreciate the US dollar against ...,6.0
5,1987-10-19,Black Monday,Negative - Sharp drop,One of the largest one-day market crashes in h...,9.0
6,1990-08-02,Gulf War,Negative - Market volatility,Caused oil price spikes and economic uncertainty.,7.0
7,1997-07-02,Asian Financial Crisis,Negative - Reduced confidence in emerging markets,Led to financial upheavals in East and Southea...,7.0
8,2000-03-10,Dot-com Bubble Burst,Negative - Major decline in tech stocks,Popped the bubble of excessively valued tech c...,9.0
9,2001-03-10,Enron Scandal,Negative - Corporate governance concerns,"Highlighted corporate fraud, affecting stock m...",6.0
10,2001-09-11,9/11 Attacks,Negative - Markets closed,Resulted in the longest market shutdown since ...,8.0
11,2002-10-09,Stock Market Downturn 2002,Negative - Broad market decline,Resulted from the burst of the dot-com bubble ...,5.0
12,2007-12-01,Subprime Mortgage Crisis,Negative - Triggered global financial crisis,Led to widespread mortgage defaults and financ...,8.0
13,2008-09-15,Lehman Brothers Collapse,Negative - Initiated a global financial crisis,One of the key events in the financial crisis ...,10.0
14,2016-06-23,Brexit,Negative initially then uncertain,UK's decision to leave the EU created market u...,7.0
15,2020-03-11,COVID-19 Declared a Pandemic,Negative initially then recovered,Triggered massive volatility and a quick bear ...,10.0
16,2022-02-24,Ukraine War,Negative - Increased volatility and inflation ...,Has led to significant disruptions in global c...,7.0

In [52]:
sp500df.to_csv("SP500_Dataset")
eventsdf.to_csv("Events_Dataset")

In [56]:
real_effective_df = pd.read_excel("Real Effective Exchange Rate.xlsx")
real_effective_df

,Unnamed: 0,Advanced Economies,Argentina,Armenia,Antigua and Barbuda,Australia,Austria,Burundi,Belgium,Bulgaria,...,Ukraine,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Viet Nam,World (WBG members),Samoa,South Africa,Zambia
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995.0,99.12812,158.01370,NaN,NaN,72.82052,NaN,NaN,NaN,NaN,...,NaN,NaN,99.62503,NaN,NaN,NaN,95.94963,NaN,111.05720,NaN
2,1996.0,98.19950,154.90100,NaN,NaN,79.18739,NaN,NaN,NaN,45.03279,...,NaN,NaN,102.26730,NaN,NaN,NaN,97.37676,NaN,101.06130,NaN
3,1997.0,100.81290,159.47130,NaN,NaN,78.32345,NaN,NaN,NaN,55.14503,...,NaN,NaN,107.41830,NaN,NaN,86.80117,100.97780,NaN,106.65800,NaN
4,1998.0,104.93890,165.98980,NaN,NaN,72.26683,NaN,NaN,NaN,64.48824,...,NaN,NaN,116.56380,NaN,NaN,94.18129,103.57360,NaN,98.76722,NaN
5,1999.0,106.47510,181.31160,NaN,NaN,72.46348,NaN,NaN,NaN,67.58915,...,NaN,NaN,115.65210,NaN,NaN,93.09765,102.52420,NaN,92.68240,NaN
6,2000.0,109.47210,180.01300,74.01157,114.66890,69.07140,98.31680,123.65670,93.01313,69.53079,...,97.76428,113.45360,119.54660,117.66150,79.96297,90.53216,105.15400,74.68944,93.59614,59.76113
7,2001.0,110.48370,189.45440,73.03541,116.98510,66.44854,98.46326,118.64050,93.62740,72.95641,...,108.06660,110.68610,126.35960,119.06300,85.04749,90.73812,106.59570,76.93844,87.76796,68.34800
8,2002.0,110.66980,81.69464,73.66581,117.76560,70.17969,99.27294,103.34970,95.10960,75.90942,...,103.93620,94.01387,126.39760,116.59060,66.49808,89.76222,104.11800,81.32391,75.42743,69.97194
9,2003.0,109.58230,86.99731,67.93809,114.07830,79.16503,102.77520,84.40041,99.70229,79.03085,...,95.57956,73.63326,119.02400,108.11920,57.74287,84.70830,101.73340,80.48015,99.23796,61.93455
10,2004.0,108.63640,83.49517,71.63518,110.93660,85.42761,103.91550,81.30204,101.30480,82.67912,...,93.57430,72.44680,113.81580,103.46780,55.76088,84.32461,100.74420,89.81459,105.86040,65.12608
11,2005.0,107.17300,81.55931,80.13152,108.34070,87.91559,102.86890,89.01759,101.05030,82.73753,...,103.31190,81.07620,111.90620,101.34770,54.58818,87.13381,100.60750,88.92296,105.71540,80.40639
12,2006.0,106.06360,79.66154,86.97219,106.15640,87.57237,102.00340,91.67289,100.61030,86.36568,...,107.60030,81.72156,110.92480,100.08770,57.81218,89.91330,100.67900,88.97141,100.22190,105.60950
13,2007.0,103.76360,82.67510,99.47692,98.21839,92.77947,102.57460,86.63444,101.41780,91.36527,...,108.36200,81.39234,105.66610,98.17529,63.35061,90.63770,100.05620,90.04474,93.56571,97.60818
14,2008.0,100.75420,92.17855,107.81160,95.37479,90.49713,102.74370,88.88746,104.14850,99.11772,...,117.42390,88.23784,100.77560,99.13544,75.96901,100.44010,99.18280,92.75383,80.32062,112.57420
15,2009.0,102.15550,93.38012,99.33678,99.83695,87.68118,103.59430,96.74588,104.21390,103.52150,...,97.94219,90.07907,104.69640,102.51570,99.06749,103.27980,100.16190,100.01080,87.12858,95.60029
16,2010.0,100.00380,99.94868,100.00000,100.00000,99.95354,100.00000,100.00000,100.00000,100.01630,...,100.00000,100.00000,100.01850,100.00000,100.00000,100.01280,99.99701,100.00000,99.93143,100.00000
17,2011.0,98.43336,105.99830,99.12769,96.66723,106.72170,100.25560,100.89320,100.75240,101.67670,...,99.39034,102.06800,94.86723,96.77814,70.80165,100.98610,99.32054,102.43870,97.82413,97.15340
18,2012.0,98.44790,122.90280,94.35194,100.74640,108.14580,98.39251,102.69510,98.48529,100.09810,...,101.45650,104.80470,96.86764,99.75924,84.98665,108.23700,99.98139,103.27160,91.67473,99.71630
19,2013.0,96.66619,127.35190,96.02011,99.92029,102.44420,100.49720,100.63060,100.15130,100.73300,...,97.91777,111.09450,96.95372,98.58660,83.22487,114.14980,99.57844,102.73180,81.22625,102.97270
20,2014.0,97.25668,119.99050,100.11260,99.80271,97.67030,101.82640,104.40040,99.91257,100.06860,...,76.66953,106.77060,98.93644,97.71875,128.94950,117.53620,99.62887,101.42470,76.24230,98.35654
21,2015.0,99.15887,152.81120,103.11950,108.85990,88.64621,98.31090,117.85100,94.89478,97.01460,...,71.40766,107.46540,109.31780,103.07150,310.06470,121.87860,101.87560,103.54280,74.24168,86.64123
22,2016.0,101.31010,133.97460,102.49790,110.58920,89.58999,99.77891,119.36090,97.71712,97.15708,...,71.04026,108.46670,113.53120,104.17630,740.64750,123.57480,102.33730,104.37080,69.00218,85.54039
23,2017.0,100.86460,143.33500,100.19380,110.97320,92.62615,100.84350,129.67410,99.08024,98.54277,...,74.72493,115.01050,113.12840,104.16200,2321.83200,123.66350,102.03380,103.32180,78.50922,94.51077
24,2018.0,100.67880,117.14490,100.47920,107.90450,88.61265,102.77250,118.30730,101.49340,101.76360,...,79.52741,116.74910,111.86050,103.92330,5044.84000,122.03680,101.20320,104.38200,79.84427,88.44308
25,2019.0,102.27330,104.34920,NaN,NaN,84.68222,NaN,NaN,NaN,102.27920,...,NaN,NaN,115.00250,NaN,NaN,126.30320,102.32190,NaN,77.20321,NaN
26,2020.0,103.04710,106.79340,NaN,NaN,83.71611,NaN,NaN,NaN,105.15400,...,NaN,NaN,116.46610,NaN,NaN,129.21570,102.20550,NaN,69.39605,NaN
27,2021.0,101.48490,111.20370,NaN,NaN,88.72209,NaN,NaN,NaN,106.57150,...,NaN,NaN,113.92800,NaN,NaN,126.52720,101.66480,NaN,76.08357,NaN
28,2022.0,105.63050,132.74980,NaN,NaN,88.80432,NaN,NaN,NaN,111.62900,...,NaN,NaN,124.45380,NaN,NaN,131.34450,105.55790,NaN,74.91094,NaN
29,2023.0,106.09930,132.85080,NaN,NaN,88.93085,NaN,NaN,NaN,117.99180,...,NaN,NaN,125.58110,NaN,NaN,131.90270,104.22060,NaN,68.25017,NaN
30,2024.0,107.23940,130.99250,NaN,NaN,91.31126,NaN,NaN,NaN,118.11550,...,NaN,NaN,127.78840,NaN,NaN,130.14160,104.36910,NaN,70.35883,NaN

In [64]:
real_effective_df = real_effective_df[["Unnamed: 0", "Advanced Economies"]]
real_effective_df.to_csv("Real_Effective_Dataset_1995.csv")

In [65]:
unemploy_df = pd.read_excel("Unemployment Rate, seas. adj..xlsx")

unemploy_df

,Unnamed: 0,Advanced Economies,Argentina,Australia,Austria,Belgium,Bulgaria,Bahrain,Belarus,Brazil,...,Thailand,Tunisia,Turkey,"Taiwan, China",Uruguay,United States,"Venezuela, RB",Viet Nam,World (WBG members),South Africa
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995.0,7.354372,NaN,8.471058,6.589767,9.673502,11.385830,NaN,NaN,NaN,...,NaN,NaN,NaN,1.808333,NaN,5.591667,NaN,NaN,NaN,NaN
2,1996.0,7.322500,NaN,8.516425,7.033851,9.544409,11.061670,NaN,NaN,NaN,...,NaN,NaN,NaN,2.600000,NaN,5.408333,NaN,NaN,NaN,NaN
3,1997.0,7.023754,NaN,8.363718,7.103283,9.212289,14.045830,NaN,NaN,NaN,...,NaN,NaN,NaN,2.725000,11.558330,4.941667,NaN,NaN,NaN,NaN
4,1998.0,6.647355,NaN,7.651377,7.184796,9.340881,12.203330,NaN,NaN,NaN,...,NaN,NaN,NaN,2.700000,10.125000,4.500000,NaN,NaN,NaN,NaN
5,1999.0,6.325740,NaN,6.869885,6.645249,8.411080,13.782500,NaN,NaN,NaN,...,NaN,NaN,NaN,2.925000,11.200000,4.216667,14.503670,NaN,NaN,NaN
6,2000.0,5.845727,NaN,6.273074,5.803798,6.875592,18.129170,NaN,NaN,NaN,...,NaN,NaN,NaN,3.000000,13.400000,3.966667,13.981880,NaN,NaN,NaN
7,2001.0,5.990614,NaN,6.765134,6.094126,6.589738,17.508330,NaN,NaN,NaN,...,3.272500,NaN,NaN,4.561667,15.191670,4.741667,13.352400,NaN,NaN,26.05511
8,2002.0,6.550357,22.425370,6.358194,6.871619,7.526965,17.426670,NaN,NaN,NaN,...,2.370833,NaN,NaN,5.171667,16.750000,5.783333,16.229960,NaN,8.421011,27.83813
9,2003.0,6.762759,17.216580,5.931701,7.014325,8.182808,14.259170,NaN,NaN,NaN,...,2.166667,NaN,NaN,4.995000,17.150000,5.991667,18.074330,NaN,8.359086,27.56754
10,2004.0,6.528225,13.622010,5.395828,7.067989,8.390290,12.670000,NaN,NaN,NaN,...,2.054167,NaN,NaN,4.419167,13.341670,5.541667,14.996840,NaN,7.960691,25.09254
11,2005.0,6.193414,11.560380,5.033575,7.272197,8.441851,11.450830,NaN,NaN,NaN,...,1.825833,NaN,9.250000,4.126667,12.141670,5.083333,12.195670,NaN,7.560746,24.63184
12,2006.0,5.750123,10.150660,4.773106,6.779983,8.259000,9.602500,16.0,NaN,NaN,...,1.490833,NaN,8.741667,3.904167,10.783330,4.608333,9.944667,NaN,6.898326,23.48725
13,2007.0,5.503190,8.445447,4.369390,6.212382,7.488011,7.736667,5.6,NaN,NaN,...,1.353333,NaN,8.841667,3.910000,9.400000,4.616667,8.454346,NaN,6.362067,22.88495
14,2008.0,5.913614,7.856472,4.245414,5.900164,6.964915,6.302500,3.7,NaN,NaN,...,1.373333,NaN,9.850000,4.145833,7.925000,5.800000,7.340996,2.38,6.494313,22.46910
15,2009.0,8.135336,8.667090,5.564415,7.277309,7.986733,7.584167,4.0,NaN,NaN,...,1.456667,NaN,12.941670,5.850833,7.783333,9.283333,7.896865,2.90,8.016747,23.66905
16,2010.0,8.446554,7.745602,5.182600,6.924717,8.371863,9.474167,3.6,NaN,NaN,...,1.035833,NaN,11.058330,5.225833,7.025000,9.608333,8.512560,2.91,8.040907,24.84062
17,2011.0,8.155425,7.154079,5.084525,6.724668,7.208805,9.594167,4.0,NaN,NaN,...,0.650833,NaN,8.983333,4.389167,6.341667,8.933333,8.182989,2.22,7.789587,24.78783
18,2012.0,8.279415,7.214806,5.223267,6.980573,7.632050,11.089170,3.7,NaN,NaN,...,0.656667,17.34898,8.300000,4.236667,6.325000,8.075000,7.801805,1.95,7.723256,24.88034
19,2013.0,8.233740,7.075905,5.670084,7.614795,8.554484,11.312500,4.3,NaN,7.289736,...,0.723333,15.84708,8.866667,4.175833,6.508333,7.358333,7.518473,2.17,7.755918,24.73059
20,2014.0,7.601067,7.268935,6.086423,8.365290,8.653589,11.160000,3.8,NaN,6.875284,...,0.839167,15.02064,9.891667,3.958333,6.625000,6.158333,6.921237,2.10,7.407532,25.10001
21,2015.0,6.988338,6.607550,6.054337,9.102528,8.655772,10.060000,3.5,NaN,8.443442,...,0.882500,15.22135,10.316670,3.785833,7.525000,5.275000,6.809548,2.34,7.228607,25.33599
22,2016.0,6.513781,8.463213,5.715893,9.063434,7.850308,8.685833,3.9,6.173138,11.403420,...,0.986667,15.49917,10.883330,3.920833,7.875000,4.875000,7.284966,2.29,7.299869,26.70138
23,2017.0,5.908067,8.337304,5.594318,8.515963,7.097299,7.199167,4.1,5.671507,12.864860,...,1.173333,15.35386,10.933330,3.760833,7.925000,4.358333,7.183809,2.22,7.085272,27.41029
24,2018.0,5.356536,9.207866,5.307342,7.711834,5.958576,6.175833,4.3,4.826157,12.373610,...,1.060000,15.45692,10.941670,3.709167,8.366667,3.891667,6.908740,2.19,6.650018,27.08909
25,2019.0,5.037343,9.800519,5.168636,7.352257,5.366046,5.650000,4.7,4.222985,12.048900,...,0.986667,15.16062,13.733330,3.730000,8.925000,3.675000,NaN,2.17,6.600935,28.67133
26,2020.0,6.891447,11.532220,6.462833,9.996415,5.531166,7.359167,5.9,4.101191,13.524630,...,NaN,16.68858,13.141670,3.849167,10.350000,8.091667,NaN,2.48,8.278366,29.15172
27,2021.0,5.826667,8.721822,5.126974,7.983977,6.273450,5.521667,5.9,3.923700,13.480520,...,NaN,17.57617,12.016670,3.951667,9.366667,5.350000,NaN,3.20,7.440841,34.31483
28,2022.0,4.653006,6.833012,3.715796,6.289808,5.578081,4.499167,5.4,3.598539,9.497287,...,1.338333,15.47428,10.475000,3.669167,7.875000,3.633333,NaN,2.34,6.059125,33.52811
29,2023.0,4.564674,6.126724,3.686314,6.410052,5.525944,5.280000,6.3,3.474964,8.040040,...,0.979167,15.97414,9.383333,3.479167,8.325000,3.625000,NaN,2.28,5.677563,32.39411
30,2024.0,NaN,NaN,4.029807,6.920559,NaN,5.486250,NaN,NaN,NaN,...,NaN,NaN,NaN,3.371250,8.437500,3.987500,NaN,NaN,NaN,NaN

In [66]:
unemploy_df = unemploy_df[["Unnamed: 0", "Advanced Economies"]]

unemploy_df

    Unnamed: 0  Advanced Economies
0          NaN                 NaN
1       1995.0            7.354372
2       1996.0            7.322500
3       1997.0            7.023754
4       1998.0            6.647355
5       1999.0            6.325740
6       2000.0            5.845727
7       2001.0            5.990614
8       2002.0            6.550357
9       2003.0            6.762759
10      2004.0            6.528225
11      2005.0            6.193414
12      2006.0            5.750123
13      2007.0            5.503190
14      2008.0            5.913614
15      2009.0            8.135336
16      2010.0            8.446554
17      2011.0            8.155425
18      2012.0            8.279415
19      2013.0            8.233740
20      2014.0            7.601067
21      2015.0            6.988338
22      2016.0            6.513781
23      2017.0            5.908067
24      2018.0            5.356536
25      2019.0            5.037343
26      2020.0            6.891447
27      2021.0            5.826667
28      2022.0            4.653006
29      2023.0            4.564674
30      2024.0                 NaN

In [67]:
unemploy_df.to_csv("Unemployment_Rate_1995.csv")